@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-y: hidden;
    font-family: 'Lato', sans-serif;
}

body, 
section#startGame, 
section.mainGame, 
section.endGame,
.howToPlayPage,
.authorsPage,
.addUsersPage {
    background-color: rgb(228, 228, 228);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 33px 6px,
    0px 36px, 4px 2px, 29px 6px, 33px 30px;
    background-image:
    linear-gradient(335deg, #ffffff 23px, transparent 23px),
    linear-gradient(155deg, #ffffff 23px, transparent 23px),
    linear-gradient(335deg, #ffffff 23px, transparent 23px),
    linear-gradient(155deg, #ffffff 23px, transparent 23px),

    linear-gradient(335deg, #ffffff 10px, transparent 10px),
    linear-gradient(155deg, #ffffff 10px, transparent 10px),
    linear-gradient(335deg, #ffffff 10px, transparent 10px),
    linear-gradient(155deg, #ffffff 10px, transparent 10px);
    /*background pattern from https://leaverou.github.io/css3patterns/#steps*/
}

/*start page*/
section#startGame{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.helloBanner {
    width: 85%;
    padding: 1.5%;
    background-color: rgba(255, 255, 255, 0.3);
}

.helloBanner > h1 {
    text-align: center;
    font-size: 2em;
    color: #015c2a;
}

.lowText {
    width: 100%;
    display: block;
    font-size: 0.7em;
    color: #7e7e7e;
    font-style: italic;
    padding: 10px 0 10px 0;
}

input#startGameButton {
    width: 75%;
    margin:  auto 12.5%;
    border: none;
    background: none;
    font-size: 1.8em;
    padding: 10px;
    border-radius: 5px 5px 7px 7px;
    color: #700000;
    font-weight: bold;
    cursor: pointer;
}

input.overPageButton{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: none;
    border: none;
    letter-spacing: 2px;
    font-size: 1.2em;
    cursor: pointer;
    transition: all 0.2s;
}

input.overPageButton:hover {
    border-color: #700000;
    background-color: rgba(112, 0, 0, .1)
}

input.overPageButton:focus {
    border: 2px solid#700000;
    outline: none;
}

.authors {
    left: 10px;
}

/* end of start page */

/* how to play & authors page */

.howToPlayPage, .authorsPage, .addUsersPage {
    width: 100%;
    height: 100vh;
    z-index: 2;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

.close {
    position: absolute;
    bottom: 15px;
    right: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.close::before,
.close::after {
    content: '';
    width: 3px;
    height: 25px;
    background-color: #464646;
    display: block;
    position: absolute;
}

.close::before {
    transform: rotate(45deg);
}

.close::after {
    transform: rotate(-45deg);
}

.howToPlayPage > ol {
    margin: 0;
    box-sizing: border-box;
    padding: 0px 10px 0 30px;
}

.howToPlayPage > ol > li {
    font-size: 1.2em;
    color: #015c2a;
    margin: 7px auto;  
    font-weight: bold;
    background-color: rgba(255,255,255,0.2);
}

.authorsPage h3 {
    text-align: center;
    font-size: 2em;
    color: #015c2a;
    margin: 0;
}

.authorsPage h3 > ul {
    padding: 0;
    list-style: none;
    font-size: 0.9em;
    color: #013a1a;
}

.authorsPage h4 {
    font-size: 1.8em;
    letter-spacing: 2px;
    margin: 0;
}

.authorsPage p {
    font-size: 1.2em;
    margin-bottom: 0;
    margin-top: 5px;
}

.about {
    width: 90%;
    box-sizing: border-box;
    padding: 10px 20px 0 20px;
    text-align: center;
    border: 2px solid black;
    background-color: rgba(255,255,255,0.2);
    margin: 0 auto;
    border-radius: 8px;
}

.about p:last-child {
    font-weight: bold;
    padding-bottom: 10px;
}

/* end of how to play & authors page */

/* user adding page */

.addUsersPage .form {
    width: 95%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px 15px;
    text-align: center;
}

.form p {
    text-align: center;
    font-size: 1.6em;
}

.userField {
    width: 100%;
    height: auto;
    display: none;
    justify-content: center;
    align-items: center;
}

.userField[name="userField1"] {
    display: flex !important;
}

.form input[type=text] {
    width: 80%;
    margin-top: 15px;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    border-bottom: 2px solid black;
    font-size: 1.3em; 
    background: none;
    transition: all 0.2s;
    text-align: center;
    background-color: rgba(255,255,255,0.2);
}

.form input:focus {
    border-color: #015c2a;
    outline: none;
}

.form .addUser,
.form .closeInput {
    margin-top: 5px;
    font-size: 1.3em;
    background: none;
    border: 2px solid #015c2a;
    color: #015c2a;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 14px 8px 14px;
    cursor: pointer;
}

.form .closeInput {
    border-color: #700000;
    color: #700000;
}

input#nextStep, input.subButton {
    font-size: 1.5em;
    letter-spacing: 2px;
    font-weight: bold;
    color: #015c2a; 
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.back {
    position: absolute;
    bottom: 10px;
    left: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.back::after,
.back::before {
    content: '';
    width: 17px;
    height: 3px;
    background-color: #464646;
    display: block;
}

.back::before {
    transform: rotate(-35deg);
}

.back::after {
    transform: rotate(35deg);
    margin-top: 5px;
}

/*end of user adding page*/

/* main game */

.mainGame {
    z-index: 3;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    background: white;
    height: 100%;
    width: 100%;
}

.questBox {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.questBox > section:first-child {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

h2.userName {
    font-size: 1.7em;
    margin-bottom: 0;
    color: #015c2a;
} 

.uName {
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 700;
    color: #013a1a;
}

.questBox h2:nth-child(2) {
    font-size: 1.2em;
}

.timeDesc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer {
    font-size: 1.8em;
    margin-left: 5px;
    color: #700000;
    
}

h2.points {
    font-size: 3em;
    margin: 0;
}

h2.points > span {
    border: 2px solid #013a1a;
    color: #013a1a;
    border-radius: 40px;
    padding: 10px;
    padding-right: 13px;
    background-color: #ffffff;
}


.wheelDesc {
    font-size: 1.2em;
    font-weight: 300;
    width: 100%;
    margin-bottom: 2px;
}

.wheel {
    width: 40px;
    height: 40px;
    margin: 0 3px;
    display: inline-block;
    border: 1px solid #700000;
    background-color: #ffffff;
    color: #1d1d1d;
    padding: 10px;
    border-radius: 30px;
}

.here h3 {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

input.subButton {
    font-size: 1.3em;
    letter-spacing: 0;
    bottom: 5px;
}

button.answer {
    margin-left: 5%;
    margin-top: 7px;
    display: inline-flex;
    width: 90%;
    justify-content: space-around;
    border: 2px solid black;
    background: #fff;
    border-radius: 5px;
    font-size: 1.1em;
}

button.answer p {
    width: 100%;
    margin: 4px 0;
    word-wrap: break-word;
}

/* end of main game */

@media only screen and (max-width: 320px) {
    .questBox {
        justify-content: flex-start;
    }
}

@media (max-width: 700px) and (min-width: 411px) {
    button.answer {
        font-size: 1.3em;
    }

    button.answer p {
        margin: 7px 0;
    }

    .questBox > section:first-child {
        font-size: 1.1em;
    }

    .wheel {
        width: 50px;
        height: 50px;
        margin: 10px 3px;
        border-radius: 40px;
    }

    .here h3 {
        font-size: 1.45em;
        padding-bottom: 7px;
    }

    .here {
        width: 90%;
        margin-bottom: 20px;
    }

    input.subButton {
        font-size: 1.45em;
    }

}

@media only screen and (min-width: 768px) {
    /*start page*/

    .helloBanner > h1 {
        font-size: 3.5em; 
    }

    input#startGameButton {
        font-size: 3em; 
        padding: 20px;
        width: 65%;
        margin: auto 17.5%;
        -webkit-box-shadow: 0px 2px 14px -1px rgba(112,0,0,1);
        -moz-box-shadow: 0px 2px 14px -1px rgba(112,0,0,1);
        box-shadow: 0px 2px 14px -1px rgba(112,0,0,1);
        transition: all 0.2s;
        border-radius: 10px;
    }

    input#startGameButton:hover {
        -webkit-box-shadow: 0px 2px 22px -1px rgba(112,0,0,1);
        -moz-box-shadow: 0px 2px 22px -1px rgba(112,0,0,1);
        box-shadow: 0px 2px 22px -1px rgba(112,0,0,1);
    }

    input.overPageButton{
        font-size: 1.7em;
        border: 1px solid black;
        border-radius: 8px;
        padding: 10px 15px;
        width: 180px;
        background-color: rgba(238, 238, 238, 0.1);
        right: initial;
    }

    #howToPlay {
        right: 25%;
    }

    .authors {
       left: 25%;
    }

    /*end of start page*/

    /* how to play & authors page */

    .close {
        width: 30px;
        height: 30px;
        bottom: 20px;
    }

    .close::before,
    .close::after {
        width: 4px;
        height: 40px;
    }

    .howToPlayPage > ol {
        width: 85%;
        margin: auto 7.5%;
    }

    .howToPlayPage > ol > li {
        font-size: 1.7em;
        margin: 10px auto;  
    }

    .about {
        width: 80%;
        padding: 20px 30px;
    }

    .authorsPage p {
        font-size: 1.7em;
    }

    .authorsPage p:last-child {
        font-size: 1.9em;
        margin-top: 20px;
    }

    /* end of how to play & authors page */

    /* user adding page */

    .addUsersPage .form {
        width: 75%;
        margin: 12.5% auto;
    }

    .form p {
        font-size: 2.2em;
    }

    .form input[type=text] {
        width: 80%;
        font-size: 2em; 
        padding: 15px 10px;
    }

    .form .addUser,
    .form .closeInput {
        font-size: 1.5em;
        padding: 8px 20px;
    }

    input#nextStep {
        font-size: 2.3em;
        letter-spacing: 3px;
        bottom: 15px;
        right: 20px;
    }

    .back {
        width: 30px;
        height: 30px;
    }

    .back::after,
    .back::before {
        content: '';
        width: 25px;
        height: 5px;
    }

    .back::after {
        transform: rotate(35deg);
        margin-top: 7px;
    }

    /* end of user adding page*/

    /*main game*/

    h2.userName {
        font-size: 2.7em;
        margin-bottom: 0;
        color: #015c2a;
    } 
    
    .questBox h2:nth-child(2) {
        font-size: 2em;
    }
    
    h2.points {
        font-size: 5em;
        margin: 0;
    }
    
    h2.points > span {
        border: 3px solid #013a1a;
        border-radius: 70px;
        padding: 15px;
        padding-right: 20px;
    }
    
    .wheelDesc {
        margin-top: 5%;
        font-size: 2em;
        font-weight: 400;
        margin-bottom: 10px;
    }
    
    .wheel {
        width: 70px;
        height: 70px;
        display: inline-block;
        border: 2px solid #700000;
        padding: 15px;
        border-radius: 70px;
        font-size: 1.6em;
    }
    
    .here h3 {
        width: 80%;
        margin: 3% auto;
        font-size: 2em;
    }
    
    input.subButton {
        font-size: 2em;
        letter-spacing: 1px;
        bottom: 10px;
    }
    
    button.answer {
        margin-left: 2.7%;
        margin-top: 20px;
        width: 45%;
        border-radius: 7px;
        font-size: 1.7em;
        box-sizing: border-box;
        padding: 5px 10px;
    }

    .here {
        margin-bottom: 20px;
    }

    /*end of main game*/
}

@media only screen and (min-width: 1024px) {
    /*start page*/


    .helloBanner {
        width: 70%;
    }

    .helloBanner > h1 {
        font-size: 4em; 
    }

    input#startGameButton { 
        padding: 30px;
        width: 70%;
        margin: auto 15%;
    }

    input.overPageButton{
        font-size: 1.7em;
        border: 1px solid black;
        border-radius: 5px;
        padding: 10px 15px;
        width: 180px;
        background-color: rgba(126, 126, 126, .1);
        top: 20px;
        left: 20px;
        height: 50px;
    }

    #howToPlay {
        right: initial;
    }

    .authors {
        left: 220px !important;
    }

    /*end of start page*/

    /* how to play & authors page */

    .close {
        top: 15px;
        right: 10px;
        width: 40px;
        height: 40px;
    }

    .close::before,
    .close::after {
        content: '';
        width: 5px;
        height: 50px;
    }

    .howToPlayPage > ol > li {
        font-size: 2.4em;
    }

    .about {
        border-width: 3px;
    }

    .about h4 {
        font-size: 2.5em;
    }

    .authorsPage h3 {
        font-size: 3em;
    }

    .authorsPage p {
        font-size: 2.3em;
    }

    .authorsPage p:last-child {
        font-size: 2.5em;
    }

    /* end of how to play & authors page */

    /* user adding page */

    .form p {
        font-size: 3em;
    }

    .addUsersPage .form {
        width: 70%;
        margin: auto 15%;
    }

    .form input[type=text] {
        width: 80%;
        font-size: 1.8em; 
    }

    .form .addUser,
    .form .closeInput {
        font-size: 2em;
    }

    input#nextStep {
        font-size: 2.5em;
        letter-spacing: 3px;
        bottom: 20px;
        right: 25px;
    }

    .back {
        width: 40px;
        height: 40px;
    }

    .back::after,
    .back::before {
        content: '';
        width: 30px;
        height: 6px;
    }

    .back::after {
        transform: rotate(35deg);
        margin-top: 8px;
    }

    /* end of user adding page */

    /*main game*/

    h2.userName {
        font-size: 4em;
        margin-bottom: 0;
        color: #015c2a;
    } 
    
    .questBox h2:nth-child(2) {
        font-size:3em;
    }
    
    h2.points {
        font-size: 7em;
        margin: 0;
    }
    
    h2.points > span {
        border: 3px solid #013a1a;
        border-radius: 90px;
        padding: 15px;
        padding-right: 20px;
    }
    
    .wheelDesc {
        margin-top: 5%;
        font-size: 2.5em;
        font-weight: 400;
        margin-bottom: 10px;
    }
    
    .wheel {
        width: 90px;
        height: 90px;
        border-radius: 70px;
        font-size: 2em;
    }
    
    .here h3 {
        font-size: 2.8em;
    }
    
    input.subButton {
        font-size: 2.6em;
        letter-spacing: 1px;
        bottom: 10px;
    }
    
    button.answer {
        font-size: 2.5em;
        box-sizing: border-box;
        padding: 10px 10px;
    }

    .here {
        margin-bottom: 30px;
    }

    /*end of main game*/
}

@media (max-width: 1700px) and (min-width: 1366px) {

    /*main game*/

    h2.userName {
        font-size: 2em;
    } 
    
    .questBox h2:nth-child(2) {
        font-size: 1.5em;
    }
    
    h2.points {
        font-size: 3em;
    }
    
    .wheelDesc {
        margin-top: 2%;
        font-size: 1.5em;
        font-weight: 400;
        margin-bottom: 10px;
    }
    
    .wheel {
        width: 50px;
        height: 50px;
        font-size: 1.1em;
        padding-bottom: 10px;
    }
    
    .here h3 {
        font-size: 1.5em;
    }
    
    input.subButton {
        font-size: 1.4em;
        letter-spacing: 1px;
        bottom: 10px;
    }
    
    button.answer {
        font-size: 1.2em;
        padding: 5px;
    }

    .here {
        margin-bottom: 35px;
        width: 70%;
    }

    /*end of main game*/
}

@media only screen and (min-width: 1920px) {
    
    h2.userName {
        font-size: 3em;
        margin-bottom: 0;
        color: #015c2a;
    } 
    
    .questBox h2:nth-child(2) {
        font-size: 2.5em;
    }
    
    h2.points {
        font-size: 5em;
        margin: 0;
    }
    
    h2.points > span {
        border: 3px solid #013a1a;
        border-radius: 90px;
        padding: 15px;
        padding-right: 20px;
    }
    
    .wheelDesc {
        margin-top: 5%;
        font-size: 2em;
        font-weight: 400;
        margin-bottom: 10px;
    }
    
    .wheel {
        width: 70px;
        height: 70px;
        border-radius: 70px;
        font-size: 1.7em;
    }
    
    .here h3 {
        font-size: 2.2em;
        margin: 1.5% auto;
    }
    
    input.subButton {
        font-size: 2.3em;
        letter-spacing: 1px;
        bottom: 10px;
    }
    
    button.answer {
        font-size: 2em;
        box-sizing: border-box;
        padding: 10px 10px;
    }

    .here {
        margin-bottom: 35px;
        width: 70%;
    }
}

